html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

canvas {
    display: block;
}

#chatBox {
    margin: 0px;
    padding: 0px 0px 4px 6px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    top: 0px;
    bottom: 28px;
    z-index: 100;
}

.chatMessage {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Montserrat, Open Sans, Verdana;
    font-size: 16px;
}

#chatEntryBox {
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: calc(50%);
    bottom: 5px;
    left: 4px;
    font-family: Montserrat, Open Sans, Verdana;
    font-size: 16px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#statusBox {
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 5px;
    right: 4px;
    text-align: center;
    font-family: Montserrat, Open Sans, Verdana;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

#mapEditToolPanel:not([hidden]) {
    display: flex;
}
#mapEditToolPanel {
    margin: 0px;
    padding: 4px;
    position: absolute;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80px;
    top: 0px;
    right: 0px;
    background-color: #000000A0;
    border-radius: 0px 0px 0px 8px;
}

.iconButton {
    margin: 2px;
    width: 36px;
    height: 36px;
    background-color: #000000;
    background-repeat: no-repeat;
    border: 1px solid #404040;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.centerIcons {
    background-position: center;
}

.cornerCenterIcons {
    background-position: bottom right, center;
}

.iconButton:hover {
    border-color: #707070;
}

.iconButton:active {
    background-color: #303030;
    border-color: #A0A0A0;
}

.iconButton.selectedButton {
    border-color: #FFFFA0;
}

button::-moz-focus-inner {
    border: 0px;
}

.tooltip {
    flex: auto;
    margin: 0px;
    padding: 0px;
    text-align: center;
}